<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
<div class="content">
    <h1>Create Post Success</h1>
    <p>Hallo, {{ .Username }}. You are successfully create new post with title "{{ .Title }}"</p>
    <p>Thanks</p>
</div>
</body>
</html>